<%= @crawl.name %>

<h1>Your Pubs!</h1>

<ul>
  <% @crawl.pubs_on_crawls.each do |venue| %>
    <% if venue.visible %>
      <li class="pub-name">
        <label for="pub-name" class="pub">Pub Name:</label>
        <%= venue.pub.name %>
      </li>

      <label for="pub-address">Pub Address:</label>
      <% venue.pub.address.each do |line| %>
        <li class="pub-address"><%= line %></li>
      <% end %>
      <% if !venue.checkin %>
        <form method="post" action="/pubs_on_crawl/<%= venue.id %>">
          <input type="hidden" name="_method" value="put">
          <button type="Submit">Check in</button>
        </form>
      <% end %>
    <% end %>
  <% end %>
</Ul>
