<%= @crawl.name %>

<h1>Your Pubs!</h1>

<ul>
  <% @crawl.pubs.each do |pub| %>
    <li class='pub-name'>
      <label for="pub-name">Pub Name:</label>
      <%= pub.name %>
    </li>

    <label for="pub-address">Pub Address:</label>
    <% pub.address.each do |line| %>
      <li class='pub-address'><%= line %></li>
    <% end %>
  <% end %>
</ul>
