<ion-view view-title="Round">
  <ion-content>

    <section>
        <div class="round-update">
          <button class="button  button-block button-positive" ng-hide="ctrl.roundDetails.checkin" id="round-update" type="button" ng-click="ctrl.updateRound(ctrl.roundId)">
            Checkin
          </button>
        </div>
    </section>

    <section class ='pub' style="padding-top: 20px">
      <div class="item" style="text-align: center">
       <span style="font-weight: bold; font-size: 180%">Pub</span>
      </div>
      <div class="card">
        <div class="item item-divider">
          {{ ctrl.roundDetails.pubDetails.name }}
        </div>
        <div class="item item-text-wrap">
          <ion-list ng-repeat="line in ctrl.roundDetails.pubDetails.address">
            <ion-item class="address item">
                {{ line }}
            </ion-item>
          </ion-list>
        </div>
        <div class="linktomap item item-divider">

        </div>
        <div style="text-align: center">
          <button class="button button-positive" type="button" ng-click="ctrl.showMap()">
            Directions on map
          </button>        
        <div id="map" data-tap-disabled="true"></div>
        </div>
    </section>

    <section class ='challenge'>
      <div class="item" style="text-align: center">
        <span style="font-weight: bold; font-size: 180%">Challenge</span>
      </div>
      <div class="card">
        <div class="item item-divider">
          {{ ctrl.roundDetails.challengeDetails.name }}
        </div>
        <div class="item item-text-wrap">
          {{ ctrl.roundDetails.challengeDetails.details }}
        </div>
      </div>
      <div class="round-update">
        <button class="button button-block button-positive" id="round-update" ng-hide="ctrl.isNotCurrentOrLastRound(ctrl.roundDetails)" type="button" ng-click="ctrl.updateNextRound()">
          Next Pub
        </button>
      </div>
    </section>

  </ion-content>
</ion-view>
