/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}
/*
#map {
    width: 500px;
    height: 400px;
}*/


#logo-image {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 25px;
  margin-bottom: 40px;

}


.button.button-positive {
  background-color: #EC4643;
}


.button.button-positive.activated {
  background-color: #BD3836;
}

.center-content {
  /*width: 100%;
  max-height: 500px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;*/
  /*margin-top: 20%;*/
  padding-top: 20%;

}

.sign-up {
  max-height: 595px;
}


ion-content {
  background-image: url("/img/background5.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.item {
  background-color: rgba(255, 255, 255, 0.7);
}

.item-content {
  text-align: center;
}

.page-title {
  text-align: center;
  color: #f8f8f8;
  text-shadow: 2px 2px 3px #000;
}
